fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
pydantic==2.4.2
tqdm==4.66.1
python-dotenv==1.0.0
pymongo==4.6.0
pytesseract==0.3.10
PyMuPDF==1.23.6
chromadb==0.4.18
pdf2image==1.16.3
sentence-transformers==2.2.2
huggingface_hub==0.13.4
requests==2.31.0
Pillow==10.1.0
aiofiles==23.2.1
numpy<2.0.0
